{% extends 'auth_base.html' %}
{% load bootstrap4 %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4 class="mb-0">
            <span class="d-block">Восстановление пароля</span>
        </h4>
        <div class="divider row"></div>
        <div>
            {% if validlink %}
                <form action="" method="post" class="position-relative">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="divider row"></div>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto">
                            <button class="btn btn-primary btn-lg">Восстановить</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>Сброс пароля по данной ссылке невозможен, </p>
            {% endif %}
        </div>
    </div>
{% endblock %}