{% extends 'auth_base.html' %}
{% load bootstrap4 %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4 class="mb-0">
            <span class="d-block">Восстановление пароля</span>
        </h4>
        <h6 class="mt-3"><a href="{% url 'login' %}" class="text-primary">Вход</a>.</h6>
        <div class="divider row"></div>
        <div>
            <form action="" method="post" class="position-relative">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="divider row"></div>
                <div class="d-flex align-items-center">
                    <div class="ml-auto">
                        <button class="btn btn-primary btn-lg">Восстановить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}