{% extends 'auth_base.html' %}
{% load bootstrap4 %}
{% block title %}Пароль успешно восстановлен{% endblock %}
{% block content %}
    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4 class="mb-0">
            <span class="d-block">Пароль восстановлен</span>
        </h4>
        <div class="divider row"></div>
        <div>
            <p>
                Для продолжения работы <a href="{% url 'login' %}">войдите</a> в сервис.
            </p>
        </div>
    </div>
{% endblock %}