{% extends 'auth_base.html' %}
{% load bootstrap4 %}
{% block title %}Запрос на восстановление пароля принят{% endblock %}
{% block content %}
    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4 class="mb-0">
            <span class="d-block">Ваш запрос на восстановление принят</span>
        </h4>
        <div class="divider row"></div>
        <div>
            <p>
                На указанный email было отправлено письмо с ссылкой на форму восстановления пароля.
            </p>
            <p>
                Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес,
                на который вы зарегистрировались, и проверьте спам.
            </p>
        </div>
    </div>
{% endblock %}