{% extends 'cabinet_base.html' %}
{% load render_bundle from webpack_loader %}
{% load bootstrap4 %}
{% block main_area %}
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card card-body mb-2">
                <form action="" method="post" class="position-relative" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="divider row"></div>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto">
                            <button class="btn btn-primary btn-lg">Создать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_js %}
{% render_bundle 'source_create_form' 'js' %}
{% endblock %}