{% extends 'cabinet_base.html' %}
{% load render_bundle from webpack_loader %}
{% block head_actions %}
    <a href="{% url 'source_create' %}" class="mb-2 mr-2 btn-icon btn btn-success"><i class="pe-7s-plus btn-icon-wrapper"> </i>Новый источник</a>
{% endblock %}
{% block main_area %}
    <div class="row">
        <div class="col-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="text-nowrap table-lg mb-0 table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 78px;">
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" name="head_checkbox" id="head_checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="head_checkbox">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th>Название</th>
                                    <th>Описание</th>
                                    <th>Тип</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form action="{% url 'source_action' %}" id="actions_form" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="">
                                    {% for source in sources %}
                                        <tr>
                                            <td class="text-center" style="width: 78px;">
                                                <div class="custom-checkbox custom-control">
                                                    <input type="checkbox" name="id_list" id="list_select_{{ source.pk }}" value="{{ source.pk }}" class="custom-control-input list_checkbox">
                                                    <label class="custom-control-label" for="list_select_{{ source.pk }}">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>
                                                {{ source.name }}
                                            </td>
                                            <td>
                                                {{ source.description }}
                                            </td>
                                            <td>
                                                {{ source.get_import_type_display }}
                                            </td>
                                            <td>
                                                <div class="widget-content-right">
                                                    <button type="button" class="border-0 btn-transition btn btn-outline-success edit-item">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                    <button type="button" class="border-0 btn-transition btn btn-outline-danger action-item"
                                                            data-modal-title="Удалить источник?"
                                                            data-modal-message="После удаления, источник будет хранится в архиве вместе с товарами"
                                                            data-modal-action-button="Удалить"
                                                            data-modal-redirect="{% url 'source_delete' source.pk %}">
                                                        <i class="fa fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-block card-footer">
                    {% if page_obj.paginator.num_pages > 1 %}
                        <div class="mt-3 text-center">
                            {% include "_pagination.html" %}
                        </div>
                    {% endif %}
                    <div id="actions-bar" style="display: none">
                        <div class="mt-2">
                            <button class="mb-2 mr-2 btn btn-danger action-button" data-action-name="delete">В архив</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_js %}
    <div class="modal" id="actionModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Отмена</button>
              <a href="" class="btn btn-danger"></a>
          </div>

        </div>
      </div>
    </div>
    {% render_bundle 'list_tools' 'js' %}
{% endblock %}