{% extends 'cabinet_base.html' %}
{% load bootstrap4 %}
{% block main_area %}
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card card-body mb-2">
                <form action="" method="post" class="position-relative">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="divider row"></div>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto">
                            <button class="btn btn-primary btn-lg">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}