{% extends 'cabinet_base.html' %}
{% block main_area %}
    <div class="row">
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <p class="mb-0 h4"><strong>Ваш email:</strong> {{ request.user.email }}</p>
                </div>
                <div class="d-block text-right card-footer">
                    <a class="btn btn-success btn-lg" href="{% url 'change_password' %}">Сменить пароль</a>
                </div>
            </div>
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Ваш баланс:</div>
                        <div class="widget-subheading"><a href="#">Пополнить</a></div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-success"><span>5 000 руб.</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="main-card mb-3 card">
                <div class="card-header">Интеграция с соц. сетями</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <i class="fab fa-vk"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">vk.com</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <button class="btn-pill btn btn-outline-primary">Подключить</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-3">
                                        <div class="icon-wrapper border-light rounded m-0">
                                            <i class="fab fa-instagram"></i>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">instagram.com</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <button class="btn-pill btn btn-outline-primary">Подключить</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}