<nav class="" aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?{{ page_obj.previous_page_number.querystring }}" class="page-link" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Назад</span></a></li>
        {% endif %}
        {% for page in page_obj.pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                {% else %}
                    <li class="page-item"><a href="?{{ page.querystring }}" class="page-link">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a href="?{{ page_obj.next_page_number.querystring }}" class="page-link" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Вперед</span></a></li>
        {% endif %}

    </ul>
</nav>
