{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% render_bundle 'main' 'css' %}
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-lg-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% render_bundle 'main' 'js' %}
</body>
</html>