{% extends 'auth_base.html' %}
{% load bootstrap4 %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <div class="mx-auto app-login-box col-lg-6">
        <div class="app-logo"></div>
        <h4 class="mb-0">
            <span class="d-block">Регистрация в Cube</span>
        </h4>
        <div class="divider row"></div>
        <div>
            <p>К сожалению регистрация закрыта</p>
        </div>
    </div>
{% endblock %}